section {
  background-color: rgb(248, 250, 250);
  padding: 30px;
}
.search input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 51px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
}
.search {
  width: 70%;
  height: 51px;
}
.otherFilter {
  margin-right: 20px;
  width: 30%;
  height: 51px;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
}
.filter,
.list,
.catalog {
  text-align: center;
}
.catalog p,
.filter p,
.list p {
  margin: 10px 5px 0px 0px;
}
.numOfPublisher h5 {
  color: rgba(41, 59, 64, 1);
  font-family: Bigshot One;
  font-size: 20px;
  font-weight: 500;
  line-height: 37px;
  text-align: right;
}
.item {
  width: 300px;
  height: 269.98px;
  gap: 0px;
  border-radius: 12px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.04);
}

.show a {
  background-color: rgba(118, 188, 67, 1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93.53px;
  height: 40px;
  outline: none;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16.77px;
  color: #fff;
  cursor: pointer;
}

.context {
  font-family: Bigshot One;
  font-size: 18px;
  line-height: 25.67px;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 0.25px;
}
