<section>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="filters  flex align-items-center">
                    <p-iconField class="search" iconPosition="right">
                        <p-inputIcon styleClass="text-2xl pi pi-search " />
                        <input type="text" pInputText placeholder="" />
                    </p-iconField>
                    <div class="otherFilter flex justify-content-between align-items-center	">
                        <div
                            class="filter p-2 border-gray-400 border-left-2 	flex justify-content-between  align-items-center">
                            <img src="assets/images/Vector.png" alt="">
                            <p class="text-gray-400">ترتيب حسب</p>
                        </div>
                        <div
                            class="list p-2 border-gray-400 border-left-2	flex justify-content-between  align-items-center">
                            <img src="../../../assets/images/list.png" alt="">
                            <p class="text-gray-400 mr-2"> القائمة</p>
                        </div>
                        <div class="catalog p-2 flex  justify-content-between	align-items-center">
                            <img src="assets/images/catalog.png" alt="">
                            <p class="text-gray-400">ملائمة</p>
                        </div>
                    </div>
                </div>
                <div class="numOfPublisher">
                    <h5 class="mt-4">عدد الناشرون : 35</h5>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="item bg-white p-4	">
                        <img src="assets/images/MoE_Logo_H2-01 1.png" alt="">
                        <h5 class="font-normal	text-black-500 text-right text-2xl mt-2">وزارة الطاقة</h5>
                        <p class="font-normal	text-gray-400 text-right context">
                            شرح او تعريف مبسط عن الجهة او المكان الذي قام
                            بأدراج البيانات في تلك المساحة مكون من سطرين فقط
                        </p>

                        <div class="showPublish flex justify-content-between align-items-center ">
                            <div class="numOfGroub flex justify-content-evenly align-items-center ">
                                <img src="assets/images/fi.png" alt="">
                                <h6 class="mt-1 text-3xl text-gray-400">12500</h6>
                            </div>
                            <div class="show">
                                <a>عرض الناشر </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="item bg-white p-4	">
                        <img src="assets/images/salogos.org-وزارة-الدفاع.png" alt="">
                        <h5 class="font-normal	text-black-500 text-right text-2xl mt-2">وزارة الدفاع</h5>
                        <p class="font-normal	text-gray-400 text-right context">
                            شرح او تعريف مبسط عن الجهة او المكان الذي قام
                            بأدراج البيانات في تلك المساحة مكون من سطرين فقط
                        </p>

                        <div class="showPublish flex justify-content-between align-items-center ">
                            <div class="numOfGroub flex justify-content-evenly align-items-center ">
                                <img src="assets/images/fi.png" alt="">
                                <h6 class="mt-1 text-gray-400 text-3xl">12500</h6>
                            </div>
                            <div class="show">
                                <a>عرض الناشر </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="item bg-white p-4	">
                        <img src="assets/images/hajj.png" alt="">
                        <h5 class="font-normal	text-black-500 text-right text-2xl mt-2"> وزارة الحج والعمرة</h5>
                        <p class="font-normal	text-gray-400 text-right  context">
                            شرح او تعريف مبسط عن الجهة او المكان الذي قام
                            بأدراج البيانات في تلك المساحة مكون من سطرين فقط
                        </p>

                        <div class="showPublish flex justify-content-between align-items-center ">
                            <div class="numOfGroub flex justify-content-evenly align-items-center ">
                                <img src="assets/images/fi.png" alt="">
                                <h6 class="mt-1 text-gray-400 text-3xl">12500</h6>
                            </div>
                            <div class="show">
                                <a>عرض الناشر </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="item bg-white p-4	">
                        <img src="assets/images/torism.png" alt="">
                        <h5 class="font-normal	text-black-500 text-right text-2xl mt-2"> وزارة السياحة</h5>
                        <p class="font-normal	text-gray-400 text-right  context">
                            شرح او تعريف مبسط عن الجهة او المكان الذي قام
                            بأدراج البيانات في تلك المساحة مكون من سطرين فقط
                        </p>

                        <div class="showPublish flex justify-content-between align-items-center ">
                            <div class="numOfGroub flex justify-content-evenly align-items-center ">
                                <img src="assets/images/fi.png" alt="">
                                <h6 class="mt-1 text-gray-400 text-3xl">12500</h6>
                            </div>
                            <div class="show">
                                <a>عرض الناشر </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="item bg-white p-4	">
                        <img src="assets/images/salogos.org-شعار-وزارة-الثقافة.png" alt="">
                        <h5 class="font-normal	text-black-500 text-right text-2xl mt-2">وزارة الثقافة</h5>
                        <p class="font-normal	text-gray-400 text-right context ">
                            شرح او تعريف مبسط عن الجهة او المكان الذي قام
                            بأدراج البيانات في تلك المساحة مكون من سطرين فقط
                        </p>

                        <div class="showPublish flex justify-content-between align-items-center ">
                            <div class="numOfGroub flex justify-content-evenly align-items-center ">
                                <img src="assets/images/fi.png" alt="">
                                <h6 class="mt-1 text-gray-400 text-3xl">12500</h6>
                            </div>
                            <div class="show">
                                <a>عرض الناشر </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>