<section class="publisher p-5">
    <div class="grid p-5 ">
        <div class="col-8 pr-3">
            <p-iconField iconPosition="right">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText style="width: 95%; padding: 5px;" />
            </p-iconField>
        </div>

        <div class="col-4">
            <div class="tools">
                <div class="tol">
                    <i class=" pi  pi-sort-amount-down"></i>
                    <span>ترتيب حسب</span>
                </div>
                <div class="tol tol3">
                    <i class=" pi  pi-list"></i>
                    <span> قائمه</span>
                </div>
                <div class="tol">
                    <i class=" pi  pi-clone"></i>
                    <span> ملائمه</span>
                </div>
            </div>
        </div>


    </div>

    <h5 class="titlle mr-6">عدد الناشرون : 35</h5>

    <div class="grid p-5">

        <div class="col-3">
            <div class="text-right p-3 cartona ">
                <img src="../../../assets/images/MoE_Logo_H2-01 1.png" alt="">
                <h5> وزارة الطاقة</h5>
                <p>شرح او تعريف مبسط عن الجهة او المكان الذي قام بأدراج البيانات في تلك المساحة مكون من سطرين فقط</p>
                <div class="box">

                    <div class="iconn">
                        <img src="../../../assets/images/fi.png" alt="">
                        <span class="pr-2">12500</span>
                    </div>

                    <button pButton pRipple label="عرض الناشر" class="p-button-success border-round p-1">
                    </button>

                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="text-right p-3 cartona ">
                <img src="../../../assets/images/salogos.org-وزارة-الدفاع.png" alt="">
                <h5> وزارة الطاقة</h5>
                <p>شرح او تعريف مبسط عن الجهة او المكان الذي قام بأدراج البيانات في تلك المساحة مكون من سطرين فقط</p>
                <div class="box">

                    <div class="iconn">
                        <img src="../../../assets/images/fi.png" alt="">
                        <span class="pr-2">12500</span>
                    </div>

                    <button pButton pRipple label="عرض الناشر" class="p-button-success border-round p-1">
                    </button>

                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="text-right p-3 cartona ">
                <img src="../../../assets/images/hajj.png" alt="">
                <h5> وزارة الطاقة</h5>
                <p>شرح او تعريف مبسط عن الجهة او المكان الذي قام بأدراج البيانات في تلك المساحة مكون من سطرين فقط</p>
                <div class="box">

                    <div class="iconn">
                        <img src="../../../assets/images/fi.png" alt="">
                        <span class="pr-2">12500</span>
                    </div>

                    <button pButton pRipple label="عرض الناشر" class="p-button-success border-round p-1">
                    </button>

                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="text-right p-3 cartona ">
                <img src="../../../assets/images/torism.png" alt="">
                <h5> وزارة الطاقة</h5>
                <p>شرح او تعريف مبسط عن الجهة او المكان الذي قام بأدراج البيانات في تلك المساحة مكون من سطرين فقط</p>
                <div class="box">

                    <div class="iconn">
                        <img src="../../../assets/images/fi.png" alt="">
                        <span class="pr-2">12500</span>
                    </div>

                    <button pButton pRipple label="عرض الناشر" class="p-button-success border-round p-1">
                    </button>

                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="text-right p-3 cartona ">
                <img src="../../../assets/images/salogos.org-شعار-وزارة-الثقافة.png" alt="">
                <h5> وزارة الطاقة</h5>
                <p>شرح او تعريف مبسط عن الجهة او المكان الذي قام بأدراج البيانات في تلك المساحة مكون من سطرين فقط</p>
                <div class="box">

                    <div class="iconn">
                        <img src="../../../assets/images/fi.png" alt="">
                        <span class="pr-2">12500</span>
                    </div>

                    <button pButton pRipple label="عرض الناشر" class="p-button-success border-round p-1">
                    </button>

                </div>
            </div>
        </div>


    </div>
</section>