<section >
    <div class="login">

        <div class="headerForm">
            <h3>هل نسيت كلمة المرور</h3>
            <h5>يرجي ادخال البريد الالكتروني الخاص بك ليتم ارسال رمز التاكيد علي البرد </h5>  
        </div>

    <form >
        <div class="loginform">
            <div class="userName">
                <label>البريد الالكتروني</label>
                <input type="text">
            </div>



            <a routerLink="" class="loginBtn">ارسال</a>
        </div>
    </form>
    
    <h6 class="register">  لديك حساب بالفعل
        <a routerLink="/login">  تسجيل الدخول  </a>
    </h6> 
    </div>

</section>