section{
    background-color:rgba(118, 188, 67, 0.05);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    }
    .login h3{
    font-family: Bigshot One;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .5px;
    text-align: center;
    color: rgba(44, 43, 75, 1);
    }
    .login h5{
    font-family: Bigshot One;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(74, 77, 83, 1);
    width: 360px;
    }
    .headerForm{
    padding: 15px;
    margin: 30px 0px;
    margin-bottom: 40px;
    }
    label{
    font-family: Bigshot One;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: right;
    display: block;
    color: rgba(52, 64, 84, 1);
    
    }
    .userName input,.pass input{
    width: 360px;
    height: 44px;
    margin: 15px 0px ;
    padding: 10px 14px 10px 14px;
    gap: 8px;
    border-radius: 8px ;
    opacity: 0px;
    border: transparent;
    outline: none;
    }
    .loginform h6{
    font-family: Bigshot One;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    
    }
    .loginform h6 a{
    font-family: Bigshot One;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color: rgba(45, 101, 84, 1);
    text-decoration: underline;        
    
    }
    .loginBtn{
    display: grid;
    justify-content: center;
    align-items: center;
    width:360px;
    height:44px;
    gap: 24px;
    opacity: 0px;
    border-radius: 12px;
    background-color: rgba(118, 188, 67, 1);
    font-family: Bigshot One;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    }
    .register{
    font-family: Bigshot One;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(44, 43, 75, 1);
    margin-top: 200px;
    }
    .register a{
    font-family: Bigshot One;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(45, 101, 84, 1);
    }