 <div class="box">
    <div class="footer p-3">
        <div class="logo-box">
            <img src="../../../assets/images/Group 21933 1.png" alt="">
        </div>
    
        <div class="links p-5">
            <div class="grid">
    
                <div class="col-3">
                    <p>روابط مهمه</p>
                    <ul class="pr-3">
                        <li>الرابط هنا</li>
                        <li>الرابط هنا</li>
                        <li>الرابط هنا</li>
                        <li>الرابط هنا</li>
                    </ul>
                </div>
    
                <div class="col-3">
                    <p>الاقسام</p>
                    <div class="grid">
                        <div class="col-6 p-0">
                            <ul class="pr-3">
                                <li>اسم القسم هنا</li>
                                <li>اسم القسم هنا</li>
                                <li>اسم القسم هنا</li>
                                <li>اسم القسم هنا</li>
                            </ul>
                        </div>
                        <div class="col-6 p-0">
                            <ul class="pr-3">
                                <li>اسم القسم هنا</li>
                                <li>اسم القسم هنا</li>
                                <li>اسم القسم هنا</li>
                                <li>اسم القسم هنا</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="col-3 pr-8">
                    <p> المهام الرئيسيه</p>
                    <ul class="pr-3">
                        <li>اسم القسم هنا</li>
                        <li>اسم القسم هنا</li>
                        <li>اسم القسم هنا</li>
                        <li>اسم القسم هنا</li>
                    </ul>
                </div>
    
                <div class="col-3">
                    <p>التواصل الاجتماعي</p>
                    <div class="grid">
                        <div class="col-6">
                            <div class="circle"></div>
                        </div>
                        <div class="col-6 pr-0">
                            <div class="circle"></div>
                        </div>
                        <div class="col-6">
                            <div class="circle"></div>
                        </div>
                        <div class="col-6 pr-0">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    
    </div>
    
    <div class="mini-footer">
        <div class="grid">
             <div class="col-3">
                <a href="">الشروط و الاحكام</a>
             </div>
             <div class="col-6">
                <p>© 2024 جميع الحقوق محفوظة للمركز الوطني لتنمية الغطاء النباتي ومكافحة التصحر.</p>
             </div>
             <div class="col-3 text-end">
                <a href=""> تواصل هنا</a>
             </div>
        </div>
    </div>
 </div>
