<nav class="navbar navbar-expand-lg ">
    <div class="grid w-100 flex align-items-center justify-content-center p-2 pr-8">
        <div class="col-3 ">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/Group 21933 1.png" alt="">
            </a>
        </div>
        <div class="col-6">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="data-catalog" routerLinkActive="active">كتالوج البيانات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">تطبيقات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">المدونات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">تعاون</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">معلومات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">الناشرين</a>
                </li>
            </ul>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-light butn">تسجيل الدخول </button>
        </div>
        <div class="col-2 flex align-items-center justify-content-center lang">
            <i class="pi  pi-globe pl-2" style="font-size: 1.5rem"></i>
            <span>Lang</span>
        </div>
    </div>

</nav>