<section class="main">
    <div class="grid m-1">
        <div class="col-2"></div>
        <div class="col-9 mt-3" style="background-color: #f8fafa;">
            <p-tabView>
                <p-tabPanel header="الناشرين">
                    <div class="header-tit flex justify-content-between align-items-center">
                        <h6>الناشرون</h6>
                        <button pButton pRipple label=" اضافة ناشر" class="p-button-success ml-3">
                        </button>
                    </div>
                    <div class="grid mt-3">
                        <div class="col-9">
                            <p-iconField iconPosition="right">
                                <p-inputIcon styleClass="pi pi-search" />
                                <input type="text" pInputText />
                            </p-iconField>
                        </div>
                        <div class="col-3">
                            <div class="tool flex align-items-center justify-content-center">
                                <img src="../../../assets/images/Vector.png" alt="">
                                <p>ترتيب حساب</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid mt-4">
                        <div class="col-3">
                            <div class="info text-center">
                                <img src="../../../assets/images/salogos.org-شعار-وزارة-الثقافة.png" alt="">
                                <h6>وزارة الثقافه</h6>
                                <div class="boxx-btn flex justify-content-center">
                                    <button pButton pRipple label=" تعديل" class="p-button-success ml-3">
                                    </button>
                                    <button pButton pRipple label=" حذف " class="p-button-danger ">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="info text-center">
                                <img src="../../../assets/images/MoE_Logo_H2-01 1.png" alt="">
                                <h6>وزارة الطاقه</h6>
                                <div class="boxx-btn flex justify-content-center">
                                    <button pButton pRipple label=" تعديل" class="p-button-success ml-3" [disabled]="true">
                                    </button>
                                    <button pButton pRipple label=" حذف " class="p-button-danger " [disabled]="true">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="info text-center">
                                <img src="../../../assets/images/salogos.org-وزارة-الدفاع.png" alt="">
                                <h6>وزارة الدفاع</h6>
                                <div class="boxx-btn flex justify-content-center">
                                    <button pButton pRipple label=" تعديل" class="p-button-success ml-3" [disabled]="true">
                                    </button>
                                    <button pButton pRipple label=" حذف " class="p-button-danger " [disabled]="true">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="info text-center">
                                <img src="../../../assets/images/hajj.png" alt="">
                                <h6>وزارة الحج و العمره</h6>
                                <div class="boxx-btn flex justify-content-center">
                                    <button pButton pRipple label=" تعديل" class="p-button-success ml-3" [disabled]="true">
                                    </button>
                                    <button pButton pRipple label=" حذف " class="p-button-danger " [disabled]="true">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="info text-center">
                                <img src="../../../assets/images/torism.png" alt="">
                                <h6>وزارة السياحة</h6>
                                <div class="boxx-btn flex justify-content-center">
                                    <button pButton pRipple label=" تعديل" class="p-button-success ml-3" [disabled]="true">
                                    </button>
                                    <button pButton pRipple label=" حذف " class="p-button-danger" [disabled]="true">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="info text-center">
                                <img src="../../../assets/images/salogos.org-شعار-وزارة-الثقافة.png" alt="">
                                <h6>وزارة الثقافه</h6>
                                <div class="boxx-btn flex justify-content-center">
                                    <button pButton pRipple label=" تعديل" class="p-button-success ml-3" [disabled]="true">
                                    </button>
                                    <button pButton pRipple label=" حذف " class="p-button-danger " [disabled]="true">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </p-tabPanel>

                <p-tabPanel  header=" اعداد النظام">

                </p-tabPanel>

                <p-tabPanel  header=" الاعضاء">
                    <section class="Add_New_Member">

                        <div class="newmember">
                            <h3>اضافة عضو جديد</h3>
                            <form >
                                <div class="format">
                                    <div class="item">
                                        <label >البريد الإلكتروني</label>
                                        <input type="text" >
                                    </div>
                                    <div class="item">
                                        <label >اسم الحساب </label>
                                        <input type="text" >
                                    </div>
                                    <div class="item">
                                        <label >الدور </label>
                                        <input type="text" >
                                    </div>
                      
                                </div>
                    
                                <a class="send">ارسال</a>
                            </form>
                        </div>
                    </section>
                </p-tabPanel>

                <p-tabPanel header="القواء المنسدله">

                    <section class="Drop_down_menus">

                        <div class="menus">

                            <h2>القوائم المنسدلة</h2>
                            <div class="slogans">
                                <h3>الاوسمة</h3>
                                <div class="itemsOfSlogan">
                                    <h5>المالية</h5>
                                    <h5>التعليم</h5>
                                    <h5>الطاقة</h5>
                                    <h5>الصحة</h5>
                                </div>
                                <a class="add">اضافة</a>
                            </div>
                            <div class="direction">
                                <h2 class="departs">الاقسام</h2>

                                <div>

                                    <p-accordion [multiple]="true">
                                        <p-accordionTab header="إسم الجهة">
                         

                                            <h3 class="depart">إسم القسم</h3>
                                            <h3 class="depart">إسم القسم</h3>
                                            <h3 class="depart">إسم القسم</h3>
                                        </p-accordionTab>
                                        <p-accordionTab header="إسم الجهة">
                         

                                            <h3 class="depart">إسم القسم</h3>
                                            <h3 class="depart">إسم القسم</h3>
                                            <h3 class="depart">إسم القسم</h3>
                                        </p-accordionTab>
                                        <p-accordionTab header="إسم الجهة">
                         

                                            <h3 class="depart">إسم القسم</h3>
                                            <h3 class="depart">إسم القسم</h3>
                                            <h3 class="depart">إسم القسم</h3>
                                        </p-accordionTab>

                                    </p-accordion>
                                </div>
                                <a class="add">اضافة</a>
                            </div>
                            
                        </div>

                    </section>

                </p-tabPanel>

                <p-tabPanel header="حسابي">

                </p-tabPanel>

            </p-tabView>
        </div>
        <div class="col-1"></div>
    </div>
</section>