<section >
    <div class="login">

        <div class="headerForm">
            <h3>رمز المرور الجديد</h3>
            <h5>يرجي ادخال الكود الذي تم ارسالة علي بريدك الالكتروني لانشاء رمز مرور جديد</h5>  
        </div>

    <form >
        <div class="loginform">

            <div class="pass">
                <label >رمز المرور</label>
                <input type="password"  >
                <div class="error">
                    <p>يجب ان يحتوي رمز المرور علي:</p>
                    <p>8 احرف علي الاقل</p>
                    <p>حرف كبير واحد على الأقل،</p>
                    <p>رقم واحد على الأقل (0-9).</p>
                </div>
            </div>
            <div class="pass">
                <label >تاكيد رمز المرور</label>
                <input type="password"  >

              
            </div>



            <a routerLink="" class="loginBtn">تاكيد </a>
        </div>
    </form>
    
    <h6 class="register">لديك حساب بالفعل
        <a routerLink="/login">تسجيل الدخول  </a>
    </h6> 
    </div>

</section>