<div class="box flex align-items-center justify-content-center">
    <div class="layer text-center">
        <h4>الـبوابة الجـغرافـيـة للـمركز الوطنـي لتنمية <span>الغطاء النباتـى</span> </h4>

        <p>إن أطلس المركز الوطني لتنمية الغطاء النباتي الحي للمملكة العربية السعودية هو أهم مجموعة من المعلومات
            الجغرافية من جميع أنحاء المملكة. يتضمن الخرائط والتطبيقات وطبقات البيانات لدعم عملك.</p>

        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" class="search" pInputText placeholder="ابحث عن ما تريد هنا .." />
        </p-iconField>
    </div>
</div>

<!-- الاقسام -->

<section class="p-7 main">
    <h3>الاقسام</h3>

    <div class="grid">
        <div class="col-3">
            <div class="cartona p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>

                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a routerLink="/subject" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>

        <div class="col-3">
            <div class="cartona cartona2 p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>

                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a href="" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>

        <div class="col-3">
            <div class="cartona cartona3 p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>

                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a href="" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>

        <div class="col-3">
            <div class="cartona cartona4 p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>

                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a href="" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>
    </div>

    <div class="grid my-3">
        <div class="col-3">
            <div class=" cartona1 p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>

                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a href="" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>

        <div class="col-3">
            <div class=" cartona1 p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>

                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a href="" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>
        <div class="col-3">
            <div class=" cartona1 p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>

                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a href="" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>
        <div class="col-3">
            <div class=" cartona1 p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>

                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a href="" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col-3">
            <div class=" cartona1 p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>
                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a href="" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>

        <div class="col-3">
            <div class=" cartona1 p-3 font-bold">
                <div class="foucs"></div>
                <div class="box-info flex justify-content-between">
                    <div>
                        <h4>المتنزهات</h4>
                        <p>المركز الوطني للغطاء النباتي</p>
                    </div>
                    <div class="img-box">
                        <img src="../../../assets/images/fi_1175164.png" alt="">
                    </div>
                </div>

                <div class='text-white'>
                    <img src="../../../assets/images/fi_5141278.png" alt="">
                    <span class="pr-2">12500</span>
                </div>
                <hr>
                <a href="" class="pb-3">مزيد من المعلومات</a>
            </div>
        </div>
    </div>
</section>


<!-- المهام الرئيسيه -->

<section class="p-7 main2">

    <h3>المهام الرئيسيه</h3>
    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد
        مثل هذا النص أو العديد من النصوص الأخرى</p>

    <div class="grid pt-3 ">
        <div class="col-3 task1">
            <img src="../../../assets/images/Frame.png" alt="">
        </div>
        <div class="col-8 mr-5 applcations">
            <img src="../../../assets/images/Noise & Texture.png" alt="">
            <h4>التطبيقات</h4>
        </div>
    </div>

    <div class="grid mt-3">
        <div class="col-3 p-0 editt">
            <div class="col-3 task task2">
                <img src="../../../assets/images/Group 1410107605.png" alt="">
            </div>
            <div class="col-3 my-3 task task2">
                <img src="../../../assets/images/Group 1410107604.png" alt="">
            </div>
            <div class="col-3 task task2">
                <img src="../../../assets/images/Group 1410107603.png" alt="">
            </div>
        </div>

        <div class="col-8 mr-5 task-info p-5">
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك
                أن تولد مثل هذا النص أو العديد من النصوص الأخرى</p>

            <div class="grid ">
                <div class="col-6">
                    <ul>
                        <li *ngFor="let task of mainTask">{{task}} </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul>
                        <li *ngFor="let task2 of mainTask2">{{task2}} </li>
                    </ul>
                </div>
            </div>
            <div class="grid mt-5">
                <div class="col-4">
                    <img src="../../../assets/images/Rectangle 34624622.png" class="w-100" alt="">
                </div>
                <div class="col-4">
                    <img src="../../../assets/images/Rectangle 34624624.png" class="w-100" alt="">
                </div>
                <div class="col-4">
                    <img src="../../../assets/images/Rectangle 34624625.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>



</section>



<section class="flex align-items-center justify-content-center py-8 main3">
    <div class="pt-8">
        <div class="block border-round mb-3 toking">
            <div class="grid h-100">
                <div class="col-5">
                    <img class="image1" src="../../../assets/images/Group.png" alt="">
                </div>
                <div class="col-7 pt-5">
                    <div>
                        <h5>مـحادثات الـمركز الوطني لتنمية <br>الغطاء النباتي</h5>
                        <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
                            العربى،
                            حيث يمكنك أن تولد مثل هذا النص</p>

                        <button type="button" class="btn btn-success join-btn">انضم الان</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="block border-round mb-3 toking mt-8">
            <div class="grid h-100">
                <div class="col-7 pt-5">
                    <div>
                        <h5>مـحادثات الـمركز الوطني لتنمية <br>الغطاء النباتي</h5>
                        <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
                            العربى،
                            حيث يمكنك أن تولد مثل هذا النص</p>

                        <button type="button" class="btn btn-success join-btn">انضم الان</button>
                    </div>
                </div>
                <div class="col-5">
                    <img class="image2" src="../../../assets/images/Group (1).png" alt="">
                </div>
            </div>
        </div>
    </div>

</section>