<section >
    <div class="login">

        <div class="headerForm">
            <h3>تسجيل الدخول</h3>
            <h5>مرحبا بك! يرجي ادخال بيانات حسابك للدخول</h5>  
        </div>

    <form >
        <div class="loginform">
            <div class="userName">
                <label>البريد الالكتروني</label>
                <input type="text">
            </div>
            <div class="pass">
                <label >رمز المرور</label>
                <input type="password"  >

            </div>

            <h6>هل نسيت رمز المرور؟
                
                <a routerLink="/forgetPassword">كلمة مرور جديدة</a>
            </h6> 

            <a routerLink="" class="loginBtn">الدخول</a>
        </div>
    </form>
    
    <h6 class="register">ليس لديك حساب
        <a routerLink="/register">انشاء حساب جديد  </a>
    </h6> 
    </div>

</section>