<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4 ml-3">
                <div class="minstry bg-white p-4	mb-4">
                    <img src="assets/images/MoE_Logo_H2-01 1.png" alt="">
                    <h5 class="font-normal	text-black-500 text-right text-2xl mt-2">وزارة الطاقة</h5>
                    <p class="font-normal	text-gray-400 text-right text-lg">
                        شرح او تعريف مبسط عن الجهة او المكان الذي قام
                        بأدراج البيانات في تلك المساحة مكون من سطرين فقط
                    </p>

                    <div class="showPublish flex justify-content-between align-items-center ">
                        <div class="show flex justify-content-evenly align-items-center">
                            <img src="../../../assets/images/down.png" alt="">
                            <h6 class="text-black-alpha-90 mt-1 text-3xl mx-2">8562</h6>
                        </div>
                        <div class="numOfGroub flex justify-content-evenly align-items-center ">
                            <img src="assets/images/fi.png" alt="">
                            <h6 class="mt-1 text-3xl text-black-alpha-90">12500</h6>
                        </div>

                    </div>
                </div>
                <div class="share bg-white p-4 mb-4">
                    <div class="flex justify-content-start  align-items-center">
                        <h4>مشاركة</h4>
                        <img class="text-center mx-3 mb-2" src="../../../assets/images/Share.png" alt="">
                    </div>
                    <div class="flex justify-content-evenly align-items-center mt-4">
                        <img src="../../../assets/images/watsapp.png" alt="">
                        <img src="../../../assets/images/facebook.png" alt="">
                        <img src="../../../assets/images/linkedin.png" alt="">
                        <img src="../../../assets/images/X.png" alt="">
                    </div>

                </div>
                <div (click)=" showDialog()" class="rate bg-white p-4 mb-4">
                    <h5>تقييم البيانات</h5>
                    <div class="star mt-4 	">
                        <i class="pi pi-star-fill text-4xl mx-2  text-yellow-400"></i>
                        <i class="pi pi-star-fill text-4xl mx-2  text-yellow-400"></i>
                        <i class="pi pi-star-fill text-4xl mx-2  text-yellow-400"></i>
                        <i class="pi pi-star-fill text-4xl mx-2  text-yellow-400"></i>
                        <i class="pi pi-star text-4xl mx-2  text-gray-400"></i>
                    </div>
                    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
                        <div class="grid">
                            <div class="col-12">
                                <p>ساعدنا بكتابة رايك:</p>
                                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="value2"></textarea>
                            </div>
                        </div>


                    </p-dialog>
                </div>
            </div>
            <div class="col-md-8">
                <h4 class="detail">عنوان البيانات او الداتا التي تم أدراجها من قبل الجهة يكون في هذه المساحة هنا </h4>
                <p class="data">شرح او تعريف مبسط عن البيانات او الداتا هنا</p>
                <div class="title flex justify-content-start align-items-center  mt-6">
                    <img src="assets/images/fi2.png" class="ml-1" alt="">
                    <h4 class="mr-1 mb-0">البيانات و المصادر</h4>

                </div>
                <div class="roles  flex justify-content-between align-items-center mt-2">
                    <h5>اسم الملف</h5>
                    <h5>الإجراءات</h5>
                </div>
                <div class="item bg-white flex justify-content-between align-items-center  my-2">
                    <div class="content flex justify-content-between align-items-center">
                        <a class="ml-3 XLSX">XLSX</a>
                        <h5 class="mr-3 mb-0">اسم الملف الكامل يكون في هذه المساحة ويفضل ان يكون سطر واحد كامل فقط</h5>
                    </div>
                    <div class="actions">
                        <a class="download ml-3">
                            <img src="assets/images/download.png" class="ml-1" alt="">
                            <span>تحميل</span>
                        </a>

                        <a class="display mr-3">
                            <img src="assets/images/eye.png" class="ml-1">
                            <span>عرض</span>
                        </a>
                    </div>

                </div>
                <div class="item bg-white flex justify-content-between align-items-center  my-5">
                    <div class="content flex justify-content-between align-items-center">
                        <a class="ml-3 CSV">CSV</a>
                        <h5 class="mr-3 mb-0">اسم الملف الكامل يكون في هذه المساحة ويفضل ان يكون سطر واحد كامل فقط</h5>
                    </div>
                    <div class="actions">
                        <a class="download ml-3">
                            <img src="assets/images/download.png" class="ml-1" alt="">
                            <span>تحميل</span>
                        </a>

                        <a class="display mr-3">
                            <img src="assets/images/eye.png" class="ml-1">
                            <span>عرض</span>
                        </a>
                    </div>

                </div>
                <div class="item bg-white flex justify-content-between align-items-center  my-5">
                    <div class="content flex justify-content-between align-items-center">
                        <a class="ml-3 JSON">JSON</a>
                        <h5 class="mr-3 mb-0">اسم الملف الكامل يكون في هذه المساحة ويفضل ان يكون سطر واحد كامل فقط</h5>
                    </div>
                    <div class="actions">
                        <a class="download ml-3">
                            <img src="assets/images/download.png" class="ml-1" alt="">
                            <span>تحميل</span>
                        </a>

                        <a class="display mr-3">
                            <img src="assets/images/eye.png" class="ml-1">
                            <span>عرض</span>
                        </a>
                    </div>

                </div>
                <div class="item bg-white flex justify-content-between align-items-center  my-5">
                    <div class="content flex justify-content-between align-items-center">
                        <a class="ml-3 XML">XML</a>
                        <h5 class="mr-3 mb-0">اسم الملف الكامل يكون في هذه المساحة ويفضل ان يكون سطر واحد كامل فقط</h5>
                    </div>
                    <div class="actions">
                        <a class="download ml-3">
                            <img src="assets/images/download.png" class="ml-1" alt="">
                            <span>تحميل</span>
                        </a>

                        <a class="display mr-3">
                            <img src="assets/images/eye.png" class="ml-1" alt="">
                            <span>عرض</span>
                        </a>
                    </div>

                </div>

                <div class="img">
                    <img src="assets/images/map.png" class="">
                </div>


                <div>

                    <div class="slogntitle flex justify-content-start align-items-center mb-6">
                        <img src="../../../assets/images/slogn.png" class="ml-2">
                        <h4 class="mb-0 mr-2 ">الاوسمة</h4>
                    </div>
                    <div class="slogns">
                        <input type="button" value="المالية">
                        <input type="button" value="التعليم">
                        <input type="button" value="الطاقة">
                        <input type="button" value="الصحة">
                    </div>
                    <div class="moreInfo mt-6 flex justify-content-start align-items-center">

                        <img class="ml-4" src="../../../assets/images/moreInfo.png" alt="">
                        <h5 class="mb-0">معلومات اضافية</h5>
                    </div>
                    <div class="info">
                        <div class="info-box">
                            <h5>الفئة</h5>
                            <h6>مالية</h6>
                        </div>

                    </div>
                    <div class="info">
                        <div class="info-box">
                            <h5>مالك البيانات</h5>
                            <h6>وزارة</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>