<section class="main px-8 pt-6">

  <div class="grid">
    <div class="col-3">

      <div class="cardd p-3">
        <img src="../../../assets/images/MoE_Logo_H2-01 1.png" alt="">
        <h6>وزارة الطاقة</h6>
        <p>شرح او تعريف مبسط عن الجهة او المكان الذي قام بأدراج البيانات في تلك المساحة مكون من سطرين فقط</p>
        <div class="stuts flex justify-content-around">
          <div class="down-i">
            <i class="pi pi-download pl-2" style="font-size: 18px; font-weight: 500;"></i>
            <span style="font-size: 18px; font-weight: 500;">8562</span>
          </div>
          <div class="down-i">
            <i class="pi pi-sitemap pl-2" style="font-size: 18px; font-weight: 500;"></i>
            <span style="font-size: 18px; font-weight: 500;">12500</span>
          </div>
        </div>
      </div>

      <div class="cardd2 mt-4 p-4 pb-7">
        <span>مشاركه</span>
        <i class="pi pi-share-alt pr-2" style="font-size: 1rem"></i>

        <div class="grid flex align-items-center justify-content-center">

          <div class="col-fixed twitter social-icon">
            <i class="pi pi-twitter"></i>
          </div>

          <div class="col-fixed facebook social-icon">
            <i class="pi pi-facebook"></i>
          </div>

          <div class="col-fixed linkedin social-icon">
            <i class="pi pi-linkedin"></i>
          </div>

          <div class="col-fixed whatsapp social-icon">
            <i class="pi pi-whatsapp"></i>
          </div>

        </div>
      </div>

      <div class="cardd3 mt-4 p-4">
        <span>تقييم البيانات</span>
        <div class="rating-star py-2">
          <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
        </div>
      </div>

    </div>

    <div class="col-9">

      <div class="textt ">
        <h5>عنوان البيانات او الداتا التي تم أدراجها من قبل الجهة يكون في هذه المساحة هنا</h5>
        <p>شرح او تعريف مبسط عن البيانات او الداتا هنا</p>
      </div>

      <div class="data pt-3">
        <img src="../../../assets/images/fi2.png" alt="">
        <span>البيانات و المصادر</span>
      </div>

      <div class="data2 flex align-items-center justify-content-between pt-3">
        <span>اسم الملف</span>
        <span class="pl-8">الاجراءات</span>
      </div>

      <div class="box p-2 mt-2 ">

        <div class="xlsx">
          <span>XLSX</span>
        </div>
        <p>اسم الملف الكامل يكون في هذه المساحة ويفضل ان يكون سطر واحد كامل فقط</p>

        <div class="box-btn me-auto">
          <button class="butn1">
            <i class="pi pi-download pl-1" style="font-size: 12px;"></i>
            تحميل
          </button>
          <button class="butn2">
            <i class="pi pi-eye" style="font-size: 12px;"></i>
            عرض
          </button>
        </div>

      </div>

      <div class="box p-2 mt-2 ">

        <div class="csv">
          <span>CSV</span>
        </div>
        <p>اسم الملف الكامل يكون في هذه المساحة ويفضل ان يكون سطر واحد كامل فقط</p>

        <div class="box-btn me-auto">
          <button class="butn1">
            <i class="pi pi-download pl-1" style="font-size: 12px;"></i>
            تحميل
          </button>
          <button class="butn2">
            <i class="pi pi-eye" style="font-size: 12px;"></i>
            عرض
          </button>
        </div>

      </div>

      <div class="box p-2 mt-2 ">

        <div class="json">
          <span>JSON</span>
        </div>
        <p>اسم الملف الكامل يكون في هذه المساحة ويفضل ان يكون سطر واحد كامل فقط</p>

        <div class="box-btn me-auto">
          <button class="butn1">
            <i class="pi pi-download pl-1" style="font-size: 12px;"></i>
            تحميل
          </button>
          <button class="butn2">
            <i class="pi pi-eye" style="font-size: 12px;"></i>
            عرض
          </button>
        </div>

      </div>

      <div class="box p-2 mt-2 ">

        <div class="XML">
          <span>XML</span>
        </div>
        <p>اسم الملف الكامل يكون في هذه المساحة ويفضل ان يكون سطر واحد كامل فقط</p>

        <div class="box-btn me-auto">
          <button class="butn1">
            <i class="pi pi-download pl-1" style="font-size: 12px;"></i>
            تحميل
          </button>
          <button class="butn2">
            <i class="pi pi-eye" style="font-size: 12px;"></i>
            عرض
          </button>
        </div>

      </div>

      <div class="box-map my-3">
        
      </div>

    </div>

  </div>

</section>